@import "../../styles/variables.module";

.link {
  display: inline-flex;
  color: inherit;
  text-decoration: none;
  &.asButton {
    font-weight: 600;
    padding: $spacing-1;
    outline: 2px solid rgb(var(--random-rgb-color, $blackRGB));
    color: rgb(var(--random-rgb-color, $blackRGB));
    background-image: linear-gradient(rgb(var(--random-rgb-color, $blackRGB)), rgb(var(--random-rgb-color, $blackRGB)));
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .2s, color .2s;
    @media (hover:hover) {
      &:hover {
        background-size: 100% 100%;
        color: $white;
      }
    }
  }
}