@import "../../styles/variables.module";

.card {
  padding: $spacing-5;
  width: 100%;
  background: rgba($white, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba($white, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba($white, 0.2);
}