@import "../../styles/variables.module";

.footer {
  min-height: $header-footer-min-height;
  background-color: var(--background-contrast, $black);
  color: var(--text-color, $white);
  display: flex;
  align-items: center;
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  .text {
    em {
      color: rgb(var(--random-rgb-color, $whiteRGB))
    }
  }
}