// Colors
$black: #0F0F0F;
$blue: #14213D;
$orange: #FCA311;
$platinum: #E5E5E5;
$white: #FFFFFF;

// Breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Spacings
$spacing-1: 10px;
$spacing-2: 15px;
$spacing-3: 20px;
$spacing-4: 25px;
$spacing-5: 30px;
$spacing-6: 40px;
$spacing-7: 50px;
$spacing-8: 60px;
$spacing-9: 70px;
$spacing-10: 80px;

// Values
$header-min-height: 75px; 
$footer-min-height: 75px; 

:export {
  breakpointXs: $breakpoint-xs
}