@import "../styles/_variables.module.scss";
@import "../styles/screenhooks";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

header, main, footer {
  padding: 0 $spacing-2;
  @include sm-and-above {
    padding: 0 $spacing-6;
  }
}
header {
  transition: all ease 0.3;
  &.sticky {
    position: sticky;
    top: 0;
    @include sm-and-above {
      background: rgba($blue, 0.90);
      box-shadow: 0 4px 30px rgba($black, 0.1);
      backdrop-filter: blur(4.9px);
      -webkit-backdrop-filter: blur(4.9px)
    }
  }
  @include sm-and-above {
    @media (hover: hover) {
      &:hover {
        background: $blue;
        box-shadow: none;
        backdrop-filter: none;
      }
    }
  }
  
}
main {
  min-height: calc(100vh - $header-min-height - $footer-min-height);
  height: 1900px;
}

a {
  color: inherit;
  text-decoration: none;
}

