// Colors
$black: #0F0F0F;
$blue: #14213D;
$orange: #FCA311;
$platinum: #E5E5E5;
$white: #FFFFFF;

// Breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;